<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Euro Transit - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Euro Transit</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#track">Track</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= --> 
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Euro Transit</h1>
          <h2>TRACKING DELIVERY COMPANY</h2>
          <p style="color: #fff;">Your Lightning Fast Delivery, provides international and local courier service to customers around the world</p>
          <div class="" style="width: 100%;">
            <form action="/getparcel" method="POST">
              <div class="mb-3 trackInput" style="position: relative;" >
                <input type="number" class="form-control" placeholder="Tracking ID" style="height: 60px; border-radius: 10px;" name="parcel">
                <button class="btn btn-primary btn-lg" id="heroTrackButton" type="submit">Find Order</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/images/heroplane2.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row cliensection" data-aos="zoom-in" >

          <div class="col-lg-4 col-md-4 col-6 clienscolumns">
            <img src="/images/icons/airport.png" class="img-fluid" alt="">
            <div>
              <h2>DELIVERED PACKAGES</h2>
              <p>At Euro Transit Tracking Delivery Company, we are dedicated to being known as the first and best choice throughout our industry.</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-4 col-6 clienscolumns">
            <img src="/images/icons/done.png" class="img-fluid" alt="">
            <div>
              <h2>521 PROJECTS DONE</h2>
              <p>Customers will enjoy great satisfaction doing business with a well-managed company with nearly 20 years of success and top professionals</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-4 col-6 clienscolumns">
            <img src="/images/icons/delivery.png" class="img-fluid" alt="">
            <div>
              <h2>65424 KM PER YEAR</h2>
              <p>expanding list of over 1500 active clients. including 500 companies with operations around the world.</p>
            </div>
            
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Euro Transit Tracking Delivery Company provides international as well as local courier service solutions to customers across the world. We have the most careful and articulated staff who ensure that your packages are delivered without incurrig any loss.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Fast Delivery</li>
              <li><i class="ri-check-double-line"></i> Secured Services</li>
              <li><i class="ri-check-double-line"></i> World Wide</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 aboutImg">
            <img src="/images/parcel.jpg" alt="">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>We over a wide range of services to our customers in all countries of the world at affordable rates in respect to the level of economic power of the country. Our service to the international Commnunity is top-notch and by customers testaments, the best and most reliable.</p>
        </div>

        <div class="row">
          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card serviceCard">
              <img class="card-img-top" src="/images/service1.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">STORAGE</h4>
                <p class="card-text">
                  we provide physical location for preserving customers goods and packages,which can be accessed later.
                  </p>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card serviceCard">
              <img class="card-img-top" src="/images/service2.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">LOGISTICS</h4>
                <p class="card-text">
                  organisation and transportation of packages, goods and resources to their final destination.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card serviceCard">
              <img class="card-img-top" src="/images/service3.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">CARGO</h4>
                <p class="card-text">
                  We also transport goods and packages in bulk based on customers request to the required destination</p>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card serviceCard">
              <img class="card-img-top" src="/images/service4.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">TRUCKING</h4>
                <p class="card-text">
                  Provision of different trucks for local and less international distances</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="card serviceCard">
              <img class="card-img-top" src="/images/service5.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">PACKAGING</h4>
                <p class="card-text">
                  we provide coordinated system of preparing goods for transport, warehousing, logistics, sale, and end use</p>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card serviceCard">
              <img class="card-img-top" src="/images/service6.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">WAREHOUSING</h4>
                <p class="card-text">
                  Finally, we provide a warehousing capacity to store goods for a long period of time till customer is ready to receive package.</p>
      
              </div>
            
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Global Express Tracking Delivery Company</h3>
            <p> Are you looking for a trusted and reliable logistic company to handle your package delivery? Are you looking for a fast services? Why not try Gobal Express Tracking Delivery Company out today and experience the best...</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Track Package</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- Track Package  -->
    <section id="track" class="track">
      <h3>
        TRACK YOUR PACKAGE HERE
      </h3>
      <p>Enter tracking id in the input below to see package status</p>
      <form action="/getparcel" method="POST">
        <div class="mb-3 trackInput" style="position: relative;" >
          <input type="text" class="form-control" placeholder="Tracking ID" style="height: 60px; border-radius: 10px;" name="parcel">
          <button class="btn btn-primary btn-lg" id="heroTrackButton" type="submit">Find Parcel</button>
        </div>
      </form>
    </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Meet our staffs that have contributed their efforts, talents and treasure to set our company on a global reaach and appreciation. We appreciate this heads of our departments. They are the best</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>8+ years of experience</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>9+ years of experience</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>5+ years of experience</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>7+ years of experience</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Do you think there is a need for improvement on our services or you have got a question, Please write to us and we will resond to you very fast </p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Euro Transit</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Storage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Logistics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cargo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Trucking</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Packaging</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">warehousing</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>